body {
    font-weight: bold;
    font-size: 1.8rem;
    font-kerning: auto;
    font-stretch: 50%;
    background:  #9BCAF2;
    // margin-bottom: 20px;
}
p {
    color: #A64F3C;
}
h5 {
    color: #98A62D;
}
li {
    color: #A64F3C;
}

.soft {

    text-align: left;
    margin-top: 20px;
}

#serve {
    float: left;
    // margin-left: 40px;
    margin-top: 20px;
   width: 550px;
   height: 250px;
   border-radius: 10px;
}
h2 {
    margin-top: 20px;
    color: #98A62D;
    // float: right;
    // text-align: right
}

#old {
    float: right;
    width: 550px;
   height: 250px;
   border-radius: 10px;
}
