body {
    background:  #9BCAF2;
    // margin-bottom: 20px;
}

p {
    color: #F2B6A0;
}

.soft {

    text-align: left;
    margin-top: 20px;
background-color: black;
}

#serve {
    height: 250px;
    width: 250px;
    length: 250px;

}