body {
    background:  #9BCAF2;
    // margin-bottom: 20px;
}

p {
    color: #F2B6A0;
}

.soft {

    text-align: left;
    margin-top: 20px;
}

#serve {
    margin-left: 40px;
    margin-top: 40px;
   width: 250px;
   height: 250px;
}
h2 {
    text-align: right
}